.popover {
  z-index: 130;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  inset: 0 auto auto 0;
  margin: 0;
  border: 1px solid rgba(22, 22, 26, 0.08);
  box-shadow: rgba(27, 32, 50, 0.1) 0 6px 16px;
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  color: rgb(22, 22, 26);
}

.popoverWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popoverContent {
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--black10);
  box-shadow: rgba(27, 32, 50, 0.1) 0 10px 60px;
  border-radius: var(--radii-3);
  padding: 16px;
  height: 100%;
  width: 100%;
}
