.backDrop {
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(20px);
  background: var(--whiteNN85);

  .headerWrapper {
    -moz-box-pack: center;
    justify-content: center;
    z-index: 100;
    height: 92px;
    vertical-align: inherit;
    max-width: 100%;
    min-height: 0;
    min-width: 0;
    flex-shrink: 0;
    flex-direction: column;
    flex-basis: auto;
    display: flex;
    -moz-box-align: stretch;
    align-items: stretch;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: var(--space-3);

      .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-3);

        .buttonDots {
          display: flex;
          -moz-box-align: center;
          align-items: center;
          -moz-box-pack: center;
          justify-content: center;
          flex-flow: row nowrap;
          position: relative;
          white-space: nowrap;
          background: transparent none repeat scroll 0 0;
          line-height: 40px;
          height: 40px;
          padding-left: var(--space-4);
          padding-right: var(--space-4);
          min-width: auto;
          border: 1px solid var(--black10);
          border-radius: var(--radii-5);
          font-family: inherit;
          transition: var(--transition15);
          transform-origin: center center 0;
          user-select: none;
          color: var(--black100);
          font-weight: var(--fontWeights-semibold);
          cursor: pointer;
          font-size: var(--fontSizes-6);
          width: 56px;
          letter-spacing: 2px;

          &:hover {
            background: var(--black04) none repeat scroll 0 0;
            border-color: var(--black10);
            letter-spacing: 0;
          }

          &:not(:disabled):active {
            transform: scale(0.95);
          }

          &::after {
            content: '·';
            transition: var(--transition15);
          }

          &::before {
            content: '·';
            transition: var(--transition15);
          }
        }
      }
    }

    .hiddenSearch {
      display: flex;
      -moz-box-pack: center;
      justify-content: center;
      position: sticky;
      inset: 0;
      background: var(--white100) none repeat scroll 0 0;
      color: var(--black100);
      z-index: 102;
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      animation-fill-mode: both;
      animation-duration: 300ms;
      animation-name: hmzVFC;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 92px;
      flex-direction: row;
      gap: var(--space-3);
      align-items: center;
    }
  }
}

.hiddenInput {
  display: flex;
}

@media only screen and (max-width: 765.98px) {
  .backDrop {
    background: var(--white100) none repeat scroll 0 0 !important;
    backdrop-filter: none !important;
  }
}

@media only screen and (max-width: 940.98px) {
  .hiddenInput {
    display: none !important;
  }

  .backDrop {
    .headerWrapper {
      .header {
        .menu {
          gap: var(--space-2) !important;

          button {
            &:first-child {
              display: flex;
            }
          }
        }
      }
    }
  }
}
