.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1020px;
  margin: 28px auto;
  gap: var(--space-2);

  .title {
    font-size: var(--fontSizes-8);
    font-weight: var(--fontWeights-semibold);
    margin: 0;
    text-align: center;
  }

  .description {
    font-size: var(--fontSizes-2);
    font-weight: var(--fontWeights-medium);
    color: var(--black60);
    margin: 0;

    .link {
      color: var(--black100);
    }
  }
}

.underline {
  text-decoration: underline;
}

.body {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  width: 100%;
  max-width: 1020px;
  margin: 28px auto;

  .title {
    font-size: var(--fontSizes-6);
    font-weight: var(--fontWeights-semibold);
    margin: 0;
  }

  .item {
    font-size: var(--fontSizes-2);
    font-weight: var(--fontWeights-medium);
    color: var(--black60);
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-2);

    .link {
      color: var(--black100);
    }

    .itemPadding {
      padding-left: var(--space-6);
    }
  }
}

@media only screen and (max-width: 1150.98px) {
  .head {
    .title {
      text-align: left !important;
      font-size: var(--fontSizes-6) !important;
    }
  }
}
