.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 91px) !important;
  gap: var(--space-10);
  margin-bottom: var(--space-11);
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 1) 90%
    ),
    url("../../../../src/shared/static/images/premiumPlusBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: var(--space-0);

    .description {
      display: flex;
      align-items: center;
      text-align: center;
      font-size: var(--fontSizes-4);
      font-weight: var(--fontWeights-medium);
      color: var(--white100);
    }
  }

  .detail {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    gap: var(--space-2);
    align-items: center;
    text-align: center;
    font-size: var(--fontSizes-1);
    font-weight: var(--fontWeights-medium);
    color: var(--white60);

    .title {
      display: flex;
      align-items: center;
      text-align: center;
      font-size: var(--fontSizes-2);
      font-weight: var(--fontWeights-medium);
      color: var(--white60);
    }

    .icon {
      rotate: 90deg;
    }
  }
}

.slides {
  display: grid;
  grid-template-columns: auto;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  gap: var(--space-8);

  .slide {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 480px;
    gap: var(--space-10);
    padding: 0 var(--space-10);
    border-radius: var(--radii-3);
    transition: var(--transition15);

    .avatar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 152px;
      width: 152px;
      border-color: rgb(255, 255, 255);
      background: var(--white100);
      position: relative;
      border-radius: 100%;
      box-shadow: var(--black08) 0 0 0 2px;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--space-4);
      align-items: center;

      .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: var(--fontSizes-8);
        font-weight: var(--fontWeights-semibold);
        margin: var(--space-0);
        text-align: center;
        color: var(--black100);
        line-height: 34px;
      }

      .description {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: var(--fontSizes-3);
        font-weight: var(--fontWeights-medium);
        color: var(--black60);
      }
    }

    .skin3d {
      position: relative;
      bottom: -100px;
      width: 387px;
      height: 604px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .wallpaperAvatar {
      grid-area: cover;
      height: 300px;
      max-width: 100vh;
      width: 100%;

      .imageAvatar {
        margin-left: 20px;
        background: var(--white100);
        height: 140px;
        width: 140px;
        top: -112px;
        position: relative;
        border-radius: var(--radii-round);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 132px;
          height: 132px;
        }
      }

      .wallpaper {
        width: 100%;
        height: 300px;
        position: relative;

        .wallpaperWrapper {
          background-color: var(--black03);
          inset: 0;
          position: absolute;
          overflow: hidden;
          border-radius: var(--radii-6);

          img {
            vertical-align: inherit;
            object-fit: cover;
            width: 100%;
            height: 100%;
            opacity: 1;
            position: relative;
          }
        }
      }
    }

    .format {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(2, minmax(290px, 1fr));
      gap: var(--space-6);
      max-width: 100%;
      padding-left: 0;

      .item {
        border-radius: 16px;
        background: var(--black04);
        border: none;
        filter: grayscale(0);
        display: flex;
        flex-direction: row;
        height: 200px;
        align-items: flex-end;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        background-position: center;
        transition: var(--transition15);
        user-select: none;
        outline: none;

        &:hover {
          filter: grayscale(1);
        }

        &:active {
          transform: scale(0.95);
        }

        .info {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: var(--space-4);

          .title {
            margin-top: var(--space-0);
            margin-bottom: var(--space-0);
            font-size: var(--fontSizes-6);
            color: var(--white100);
            font-weight: var(--fontWeights-semibold);
            -webkit-user-select: none;
          }

          .online {
            color: var(--white80);
            font-size: var(--fontSizes-1);
            font-weight: var(--fontWeights-medium);
          }
        }
      }
    }

    .playerItems {
      display: flex;
      flex-direction: column;
      gap: var(--space-4);
      position: relative;
      top: 38px;

      &:hover > .player {
        filter: blur(4px);
      }

      &:hover > .player:hover {
        transform: translateX(10px);
        filter: blur(0px);
      }

      .player {
        display: flex;
        flex-direction: column;
        background: var(--white100) none repeat scroll 0 0;
        border-radius: var(--radii-4);
        cursor: pointer;
        transition: var(--transition15);

        .executionInfo {
          display: flex;
          flex-direction: row;
          align-items: center;

          .executionInfoLeft {
            width: 30%;
            border: 1px solid var(--black08);
            border-bottom: 0;
            border-left: 0;

            .executionInfoLeftTitle {
              font-size: var(--fontSizes-0);
              padding: 8px;
              font-weight: 500;
              border-bottom: 1px solid var(--black08);
            }

            .executionInfoLeftDescription {
              display: flex;
              flex-direction: column;
              font-size: var(--fontSizes-1);
              padding: 8px;

              .title {
                color: var(--black60);
                font-size: 12px;
              }

              .text {
                font-weight: 500;
              }
            }
          }

          .executionInfoRight {
            width: 70%;
            border-top: 1px solid var(--black08);

            .executionInfoRightTitle {
              font-size: var(--fontSizes-0);
              padding: 8px;
              font-weight: 500;
              border-bottom: 1px solid var(--black08);
            }

            .executionInfoRightDescription {
              display: flex;
              flex-direction: row;
              align-items: center;

              .executionInfoRightDescriptionItem:last-child {
                border-bottom-right-radius: 12px;
                border: 0;
              }

              .executionInfoRightDescriptionItem {
                display: flex;
                flex-direction: column;
                font-size: var(--fontSizes-1);
                border-right: 1px solid var(--black08);
                padding: 8px;
                width: 100%;

                .title {
                  color: var(--black60);
                  font-size: 12px;
                }

                .text {
                  font-weight: 500;
                }
              }
            }
          }
        }

        .defaultInfo {
          display: flex;
          flex-direction: row;
          align-items: center;
          color: var(--black100);
          gap: var(--space-4);
          padding: var(--space-4);

          .username {
            display: flex;
            flex-direction: row;
            gap: var(--space-2);
            align-items: center;
            font-size: var(--fontSizes-2);
            font-weight: var(--fontWeights-semibold);
          }

          .avatarButton {
            padding: 0;
            margin: 0;
            border: none;
            outline: none;
            background: transparent;
            cursor: pointer;
            transition: var(--transition15);
          }

          .avatarButton:active {
            transform: scale(0.95);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 730.98px) {
  .slides {
    display: flex !important;
    flex-direction: column !important;

    .slide:first-child {
      flex-direction: column !important;
      gap: var(--space-4) !important;

      .skin3d {
        display: none;
      }
    }

    .slide {
      height: auto !important;
      padding: var(--space-6) !important;

      .format {
        display: flex;
        flex-direction: column;

        .item {
          width: 100% !important;
        }
      }

      .wallpaperAvatar {
        .imageAvatar {
          margin: 0 auto !important;
        }
      }

      .info {
        .title {
          font-size: var(--fontSizes-6) !important;
          line-height: 30px !important;
        }

        .description {
          font-size: var(--fontSizes-2) !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 730.98px) {
  .intro {
    .wrapper {
      width: 90%;

      span:first-child {
        font-size: var(--fontSizes-12) !important;
        line-height: 100px !important;
      }

      .description {
        text-align: justify-all !important;
        font-size: var(--fontSizes-3) !important;

        br {
          display: none;
        }
      }
    }
  }
}
